@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  list-style-type: none;
}
.left {
  background-color: rgba(24, 120, 255, 0.963);
}
.header {
  margin: 4vh 1vw;
  display: flex;
  gap: 5px;
  color: white;
}
.main-icon {
  height: 50px;
  width: 50px;
}
.icon,
.p-icons {
  height: 24px;
  width: 24px;
}

.first {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}
.nav {
  display: flex;
  flex-direction: column;

  gap: 3vh;
  margin-top: 9vh;
}
.nav-items {
  display: flex;
  color: #ffffff;
  gap: 2%;
  align-items: center;
  font-weight: 600;
}
.extra-gap {
  margin-top: 25%;
}

/* Right side */

.right-main {
  background-color: rgb(212, 210, 210);
  width: 100%;
  height: fit-content;
}

.right-1 {
  margin-bottom: 1%;
}
.right-1a,
.right-1b,
.right-nav {
  display: flex;
}
.right-1a {
  margin-top: 1%;
  margin-left: 4%;
  font-weight: 600;
  align-items: center;
}
#search-box {
  width: 45vw;
  background-color: lightgray;
  border-radius: 15px;
  height: 4vh;
  margin-left: 2%;
  margin-right: 6%;
}
.profile-pic-small {
  height: 43px;
  width: 43px;
  margin-left: 2%;
  margin-right: 4%;
  border-radius: 45%;
}

.profile-pic {
  height: 60px;
  width: 60px;
  margin-left: 2%;
  border-radius: 45%;
}
.right-1b {
  margin-top: 3%;
  margin-left: 4%;
}
.right-1b-a {
  display: flex;
  align-items: center;
  gap: 2%;
}
.right-1b-a-b {
  margin-right: 8vw;
}
.right-1b-a-b > p {
  width: 30vw;
  font-weight: 600;
}
.right-nav {
  gap: 10%;
}

.btn {
  background-color: rgba(24, 120, 255, 0.963);
  align-items: center;
  color: #ffffff;
  border-radius: 100px;
  box-shadow: none;
  border-width: 0;
  padding: 10px 30px;
  font-size: medium;
}

.right-headings {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 12%;
}

.right-2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.right-2a {
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.right-2b {
  margin-right: 5%;
  margin-bottom: 5%;
}
.box {
  background-color: white;
  border-radius: 25px;
  border-left-style: solid;
  border-left-color: rgba(204, 136, 0, 0.853);
  border-left-width: 10px;
}
.box > p {
  margin: 5%;
}
.p-icon {
  margin: 2vh 0;
  display: flex;
  justify-content: end;
  gap: 4%;
}
.sub-heading {
  font-weight: 700;
  font-size: medium;
}
.right-2b-a {
  border-radius: 2%;
  margin-top: 3vh;
  background-color: #ffffff;
}
.right-2b-a > p {
  padding: 7%;
}
.annc-data {
  font-size: small;
}
.brdr {
  border-bottom-style: dashed;
  border-bottom-color: black;
  width: 75%;
  margin-left: 10%;
}
.trending {
  margin-top: 4%;
  margin-left: 4%;
}
.right-2b-b {
  border-radius: 2%;
  background-color: #ffffff;
  margin-top: 2%;
}
.tags {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.unames {
  margin-top: 5%;
  display: flex;
  gap: 4%;
  align-items: center;
}
.closing {
  opacity: 0.7;
  font-size: small;
}
