.left {
  background-color: rgba(0, 106, 255, 0.963);
}
.first {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}
.nav-items {
  display: flex;
}

.right-1a,
.right-1b,
.right-nav {
  display: flex;
  justify-content: space-between;
}
.right-2 {
  background-color: rgb(165, 165, 165);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.right-2a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
